<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <style>
       body {
            background-color: coral;
            margin: 0;
            color: white;
            background: url(https://wallpaperaccess.com/full/1526011.jpg);
            background-size: cover;
            font-family: 'cursive';
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; color: rgb(254, 253, 253);">WELCOME TO HOME PAGE</h1>
    <hr>
</body>
</html>
