<!DOCTYPE html>


{% extends "base.html" %}

{% block content %}
    <!-- add buttons -->
    <!-- <div class="d-flex justify-content-end gap-3">
        <a href="/addTea" class="btn btn-success btn-lg">
            <i class="fas fa-plus-circle"></i> Add Teacher
        </a>
        <a href="/addStud" class="btn btn-success btn-lg">
            <i class="fas fa-plus-circle"></i> Add Student
        </a> -->
        <a href="/addEvent" class="btn btn-success btn-lg">
            <i class="fas fa-plus-circle"></i> Add Event
        </a>
        <a href="/addBooks" class="btn btn-success btn-lg">
            <i class="fas fa-plus-circle"></i> Add Book
        </a>
    </div>
    <!-- add buttons -->
    
</div>
</div>
</div>


{% endblock %}
