<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
    </style>
</head>

<body id="lin-body">
    <div id="lin-main">
        <H1>LOGIN</H1>
        <form id="lin-frm" action="submit" method="post">
            {% csrf_token %}
            <input class="lin-input" type="email" name="email" placeholder="Enter email" required><br>
            <input class="lin-input" type="password" name="pas" placeholder="Password" required><br>
            <div id="lin-chk">
                <label>
                    <input type="checkbox" value="verify">
                    Remember Me</label>
            </div>
            <a class="lin-links" href="/" style="margin-left: 40px;">Forgot Password?</a><br>
            <input id="lin-btn" type="submit" value="Login"><br>
            <label>Don't Have an account?</label>
            <a class="lin-links" href="/sign_up.html">Sign Up</a>
        </form>
    </div>
</body>
</html>