<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>SIGN UP</title>
    <style>
    </style>
</head>

<body id="sin-body">
    <div id="sin-main">
        <h1>SIGN UP</h1>
        <form method="post">
            {% csrf_token %}
            <input class="sin-input" type="text" name="name" placeholder="Enter name" required><br>
            <input class="sin-input" type="email" name="email" placeholder="Enter email" required><br>
            <input class="sin-input" type="password" name="pas" placeholder="Password"required><br>
            <input class="sin-input" type="password" name="cpas" placeholder="Confirm Password"required><br>
            <input id="sin-btn" type="submit" value="Sign up"><br>
            <P>Have an account?</P>
            <a class="sin-links" href="/log_in.html">Login</a>
        </form>
    </div>
</body>

</html>